# Game Configuration

# Note: position `[0, 0]` corresponds to
# the bottom left corner in the map

AGENT_INIT_POSITION=[2, 3]
AGENT_INIT_HEADING="up"
GOAL_POSITION=[3, 6]
OBSTACLES_POSITIONS=[[4, 3], [4, 4], [3, 4]]
ENABLE_STEPS=True

APP_NAME="Reflex Agent"
NUM_OF_CELLS=6
WINDOW_SIZE=500
BACKGROUND_COLOR="white"
GOAL_COLOR="green"
GRID_COLOR="gray"
GRID_THICKNESS=5
OBSTACLES_COLOR="gray"
